/*
 * vidcap.rc - resources reconstructed from VIDCAP.EXE
 *
 * The memory options are those of the binary.  The DLGINCLUDE resource
 * names the dialog editor's include file of the original source
 * (DLGIDS.H).  "\a" in the menus is the 0x08 that right-aligns the
 * accelerator text.  The menu items' IDs are also the IDs of their help
 * strings.
 */

#include <windows.h>
#include <ver.h>
#include <dlgs.h>
#include "vidcap.h"

VIDCAP ICON LOADONCALL MOVEABLE PURE DISCARDABLE "res/icon_vidcap.ico"

IDB_TOOLBAR BITMAP LOADONCALL MOVEABLE PURE "res/bitmap_100.bmp"

VIDCAP MENU LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Load Palette...", IDM_LOADPALETTE
        MENUITEM "&Set Capture File...", IDM_SETCAPFILE
        MENUITEM SEPARATOR
        MENUITEM "Save &Captured Video As...", IDM_SAVEAS
        MENUITEM "Save &Palette...", IDM_SAVEPALETTE
        MENUITEM "Save Single &Frame...", IDM_SAVEFRAME
        MENUITEM SEPARATOR
        MENUITEM "&Edit Captured Video...", IDM_EDITCAPTURE
        MENUITEM SEPARATOR
        MENUITEM "E&xit\aAlt+F4", IDM_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Copy\aCtrl+C", IDM_COPY
        MENUITEM "Paste &Palette", IDM_PASTEPALETTE
        MENUITEM SEPARATOR
        MENUITEM "Pre&ferences...", IDM_PREFERENCES
    END
    POPUP "&Options"
    BEGIN
        MENUITEM "&Audio Format...", IDM_AUDIOFORMAT
        MENUITEM SEPARATOR
        MENUITEM "&Video Format...", IDM_VIDEOFORMAT
        MENUITEM "Video &Source...", IDM_VIDEOSOURCE
        MENUITEM "Video &Display...", IDM_VIDEODISPLAY
        MENUITEM SEPARATOR
        MENUITEM "Video &Compression...", IDM_COMPRESSION
        MENUITEM SEPARATOR
        MENUITEM "&Preview Video", IDM_PREVIEW
        MENUITEM "&Overlay Video", IDM_OVERLAY
    END
    POPUP "&Capture"
    BEGIN
        MENUITEM "&Single Frame", IDM_CAPSINGLE
        MENUITEM "&Frames...", IDM_CAPFRAMES
        MENUITEM "&Video...", IDM_CAPVIDEO
        MENUITEM "&Palette...", IDM_CAPPALETTE
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&Contents\aF1", IDM_HELPCONTENTS
        MENUITEM SEPARATOR
        MENUITEM "&About VidCap...", IDM_ABOUT
    END
END

VIDCAP ACCELERATORS PRELOAD MOVEABLE PURE
BEGIN
    "^C", IDM_COPY, ASCII
    VK_INSERT, IDM_COPY, VIRTKEY, CONTROL
    VK_F1, IDM_HELPCONTENTS, VIRTKEY
END

IDD_LEVELMONO DIALOG LOADONCALL MOVEABLE PURE DISCARDABLE 9, 28, 160, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Recording Level"
FONT 8, "helv"
BEGIN
    CONTROL "", IDC_METER1, "VCRLMeter", WS_CHILD | WS_VISIBLE | WS_DLGFRAME, 8, 8, 146, 14
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 48, 40, 14
    CONTROL "Set the volume on your audio source.", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 8, 30, 146, 9
END

IDD_LEVELSTEREO DIALOG LOADONCALL MOVEABLE PURE DISCARDABLE 9, 28, 160, 88
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Recording Level"
FONT 8, "helv"
BEGIN
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 66, 40, 14
    CONTROL "", IDC_METER1, "VCRLMeter", WS_CHILD | WS_VISIBLE | WS_DLGFRAME, 8, 8, 146, 14
    CONTROL "", IDC_METER2, "VCRLMeter", WS_CHILD | WS_VISIBLE | WS_DLGFRAME, 8, 26, 146, 14
    CONTROL "Set the volume on your audio source.", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 8, 48, 146, 9
END

IDD_INITERROR DIALOG LOADONCALL MOVEABLE PURE DISCARDABLE 12, 28, 168, 196
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Initialization Error"
FONT 8, "Helv"
BEGIN
    CONTROL "Vidcap could not initialize the capture device.", 659, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 2, 6, 166, 12
    CONTROL "", IDC_INITERRTEXT, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 2, 20, 166, 16
    CONTROL "Checklist:", 660, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 2, 40, 166, 12
    CONTROL "Is the capture hardware properly configured?  Check the switch settings and jumpers on the capture device.", 661, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 52, 154, 26
    CONTROL "Is a driver installed and configured?  Select the Drivers icon from the Control Panel to verify the presence of a capture driver.", 669, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 82, 154, 28
    CONTROL "If you need to install a capture driver, choose the ""Add..."" button.", 671, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 20, 112, 146, 18
    CONTROL "If you need to configure a capture driver, choose the ""Setup..."" button.", 670, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 20, 132, 146, 18
    CONTROL "Do you wish to continue or exit?", 101, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 2, 158, 150, 10
    CONTROL "&Continue", IDC_CONTINUE, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 172, 40, 14
    CONTROL "E&xit", IDC_EXIT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 92, 172, 40, 14
END

SETFILE DIALOG LOADONCALL MOVEABLE PURE DISCARDABLE 36, 24, 260, 140
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Set Capture File"
FONT 8, "Helv"
BEGIN
    CONTROL "File &Name:", stc3, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 6, 76, 9
    CONTROL "", edt1, "EDIT", ES_AUTOHSCROLL | ES_OEMCONVERT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 6, 16, 90, 12
    CONTROL "", lst1, "LISTBOX", LBS_NOTIFY | LBS_SORT | LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 6, 32, 90, 68
    CONTROL "&Directories:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 110, 6, 92, 9
    CONTROL "", stc1, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 110, 18, 92, 9
    CONTROL "", lst2, "LISTBOX", LBS_NOTIFY | LBS_SORT | LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 110, 32, 92, 68
    CONTROL "List Files of &Type:", stc2, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 104, 90, 9
    CONTROL "", cmb1, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 6, 114, 90, 36
    CONTROL "Dri&ves:", stc4, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 110, 104, 92, 9
    CONTROL "", cmb2, "COMBOBOX", CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 110, 114, 92, 68
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 208, 6, 50, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 208, 24, 50, 14
    CONTROL "&Help", pshHelp, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 208, 46, 50, 14
    CONTROL "&Read Only", chx1, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 208, 68, 50, 12
    CONTROL "New &Size...", IDC_NEWSIZE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 208, 46, 50, 14
END

IDD_PREFERENCES DIALOG LOADONCALL MOVEABLE PURE DISCARDABLE 6, 18, 180, 128
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "VidCap Preferences"
FONT 8, "Helv"
BEGIN
    CONTROL "&Status Bar", IDC_STATUSBAR, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 3, 10, 51, 10
    CONTROL "&Tool Bar", IDC_TOOLBARCHK, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 3, 20, 45, 10
    CONTROL "&Center Image in Window", IDC_CENTERIMAGE, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 3, 30, 94, 10
    CONTROL "Background Color", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 2, 48, 176, 28
    CONTROL "&Default", IDC_BKDEFAULT, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 6, 58, 40, 12
    CONTROL "&Lt Gray", IDC_BKLTGRAY, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 50, 58, 40, 12
    CONTROL "Dk &Gray", IDC_BKDKGRAY, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 94, 58, 40, 12
    CONTROL "&Black", IDC_BKBLACK, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 58, 36, 12
    CONTROL "Maximum number of frames", -2, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 2, 82, 176, 40
    CONTROL "32,000   (&15 minutes @ 30fps)", IDC_INDEX32K, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 94, 164, 12
    CONTROL "324,000 (&3 hours @ 30fps)", IDC_INDEX324K, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 106, 164, 12
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 135, 6, 40, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 135, 25, 40, 14
END

IDD_AUDIOFORMAT DIALOG LOADONCALL MOVEABLE PURE DISCARDABLE 9, 18, 144, 88
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Audio Format"
FONT 8, "Helv"
BEGIN
    CONTROL "Sample Size", 103, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 3, 3, 75, 26
    CONTROL "&8 bit", IDC_8BIT, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 8, 16, 29, 10
    CONTROL "1&6 bit", IDC_16BIT, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 40, 16, 32, 10
    CONTROL "Channels", 104, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 3, 32, 86, 24
    CONTROL "&Mono", IDC_MONO, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 8, 42, 37, 10
    CONTROL "&Stereo", IDC_STEREO, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 47, 42, 36, 10
    CONTROL "&11 kHz", IDC_11KHZ, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 8, 71, 35, 10
    CONTROL "&22 kHz", IDC_22KHZ, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 49, 71, 35, 10
    CONTROL "&44 kHz", IDC_44KHZ, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 90, 71, 36, 10
    CONTROL "Frequency", 107, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 3, 59, 135, 25
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 98, 4, 40, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 98, 22, 40, 14
    CONTROL "&Level...", IDC_LEVEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 98, 43, 40, 14
END

IDD_FILESIZE DIALOG LOADONCALL MOVEABLE PURE DISCARDABLE 11, 28, 202, 62
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Set File Size"
FONT 8, "Helv"
BEGIN
    CONTROL "&File Size:", 107, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 46, 53, 8
    CONTROL "MBytes", 108, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 117, 46, 30, 8
    CONTROL "", IDC_FILESIZE, "EDIT", WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 72, 44, 32, 12
    CONTROL "", IDC_FILESIZEARROW, "comarrow", WS_CHILD | WS_VISIBLE | WS_BORDER, 104, 44, 6, 12
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 160, 5, 39, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 160, 24, 39, 14
    CONTROL "Enter the amount of disk space to set aside for the capture file.  Existing video data in", 102, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 3, 150, 16
    CONTROL "the file will be removed.", 103, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 19, 146, 8
    CONTROL "Space Available:", 104, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 34, 66, 8
    CONTROL "122", IDC_SPACEAVAIL, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 92, 34, 28, 8
    CONTROL "MBytes", 106, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 117, 34, 26, 8
END

IDD_CAPFRAMES DIALOG LOADONCALL MOVEABLE PURE DISCARDABLE 35, 28, 157, 62
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Capture Frames"
FONT 8, "Helv"
BEGIN
    CONTROL "", IDC_CAPFRAMESTEXT, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 4, 150, 20
    CONTROL "0 Frames", IDC_CAPFRAMESCOUNT, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 26, 150, 8
    CONTROL "&Capture", IDC_CAPFRAMESCAPTURE, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 28, 42, 40, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 82, 42, 40, 14
END

IDD_CAPSEQUENCE DIALOG LOADONCALL MOVEABLE PURE DISCARDABLE 6, 18, 156, 122
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Capture Video Sequence"
FONT 8, "Helv"
BEGIN
    CONTROL "&Frame Rate:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 12, 43, 8
    CONTROL "", IDC_FRAMERATE, "EDIT", ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 52, 10, 36, 12
    CONTROL "", IDC_FRAMERATEARROW, "comarrow", WS_CHILD | WS_VISIBLE | WS_BORDER, 88, 10, 6, 12
    CONTROL "&Enable Capture Time Limit", IDC_TIMELIMIT, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 27, 99, 10
    CONTROL "&Seconds:", IDC_SECONDSLABEL, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 42, 36, 8
    CONTROL "", IDC_SECONDS, "EDIT", ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 52, 40, 36, 12
    CONTROL "", IDC_SECONDSARROW, "comarrow", WS_CHILD | WS_VISIBLE | WS_BORDER, 88, 40, 6, 12
    CONTROL "&Capture Audio", IDC_CAPAUDIO, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 58, 101, 10
    CONTROL "&Audio...", IDC_AUDIOSETUP, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 110, 44, 42, 14
    CONTROL "Capture Method", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 4, 70, 100, 34
    CONTROL "&Directly to Disk", IDC_TODISK, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 82, 90, 10
    CONTROL "Capture &to Memory", IDC_TOMEMORY, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 92, 90, 10
    CONTROL "&Video...", IDC_VIDEOSETUP, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 110, 62, 42, 14
    CONTROL "Com&press...", IDC_COMPRESSSETUP, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 110, 84, 42, 14
    CONTROL "&MCI control of source video", IDC_MCICONTROL, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 108, 101, 10
    CONTROL "MC&I...", IDC_MCISETUP, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 110, 106, 42, 14
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 110, 6, 42, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 110, 22, 42, 14
END

IDA_CAPSEQUENCE DIALOG LOADONCALL MOVEABLE PURE DISCARDABLE 6, 18, 123, 61
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Capture Video"
FONT 8, "Helv"
BEGIN
    CONTROL "", 620, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 5, 109, 30
    CONTROL "&Capture", 622, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 41, 40, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 68, 41, 40, 14
END

IDD_CAPPALETTE DIALOG LOADONCALL MOVEABLE PURE DISCARDABLE 10, 22, 160, 85
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Capture Palette"
FONT 8, "Helv"
BEGIN
    CONTROL "To capture a palette from a continuous stream, click on Start.  To capture from specific frames, click on the Frame button.  Click on Close to end palette capture.", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 3, 154, 40
    CONTROL "0 Frames", IDC_PALNUMFRAMES, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 109, 48, 41, 8
    CONTROL "Co&lors:", -1, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 48, 35, 8
    CONTROL "", IDC_PALCOLORS, "EDIT", ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 48, 46, 36, 12
    CONTROL "", IDC_PALCOLORSARROW, "comarrow", WS_CHILD | WS_VISIBLE | WS_BORDER, 84, 46, 6, 12
    CONTROL "&Frame", IDC_PALFRAME, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 63, 40, 14
    CONTROL "&Start", IDC_PALSTART, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 63, 40, 14
    CONTROL "&Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 110, 63, 40, 14
END

IDD_MCISETUP DIALOG LOADONCALL MOVEABLE PURE DISCARDABLE 10, 30, 172, 146
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "MCI Settings"
FONT 8, "Helv"
BEGIN
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 6, 40, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 24, 40, 14
    CONTROL "", IDC_MCIDEVICE, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 4, 16, 110, 34
    CONTROL "MCI Device:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 2, 4, 52, 8
    CONTROL "Source Capture Style", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 4, 30, 110, 30
    CONTROL "&Play Video", IDC_MCIPLAY, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 8, 44, 48, 10
    CONTROL "&Step Video", IDC_MCISTEP, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 62, 44, 50, 10
    CONTROL "Step Capture Frame Averaging", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 4, 64, 110, 42
    CONTROL "&2x Spatial", IDC_MCI2XSPATIAL, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 78, 96, 10
    CONTROL "&Frame(s) Temporal", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 32, 92, 76, 8
    CONTROL "", IDC_MCIAVERAGE, "EDIT", ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10, 90, 18, 12
    CONTROL "Capture Start:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 114, 52, 10
    CONTROL "Capture Stop:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 128, 52, 10
    CONTROL "", IDC_MCISTARTTIME, "EDIT", ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 66, 112, 48, 12
    CONTROL "", IDC_MCISTOPTIME, "EDIT", ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 66, 128, 48, 12
    CONTROL "S&et Start", IDC_MCISETSTART, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 110, 40, 14
    CONTROL "Se&t Stop", IDC_MCISETSTOP, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 128, 40, 14
END

IDD_MCISTEP DIALOG LOADONCALL MOVEABLE PURE DISCARDABLE 30, 34, 164, 96
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "MCI Step Capture"
FONT 8, "Helv"
BEGIN
    CONTROL "&Stop", IDC_STEPSTOP, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 40, 78, 40, 14
    CONTROL "&Cancel", IDC_STEPCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 86, 78, 40, 14
    CONTROL "Start:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 8, 31, 8
    CONTROL "Current:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 20, 30, 8
    CONTROL "Stop:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 32, 32, 8
    CONTROL "S", IDC_STEPSTARTTIME, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 8, 46, 10
    CONTROL "E", IDC_STEPSTOPTIME, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 32, 46, 10
    CONTROL "C", IDC_STEPCURTIME, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 20, 46, 10
    CONTROL "s", IDC_STEPSTATUS, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 98, 20, 44, 24
    CONTROL "Press Cancel to abort MCI frame capture.  Press Stop to end capture prior to the Stop time (audio will be captured if enabled).", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 46, 154, 30
END

STRINGTABLE PRELOAD MOVEABLE PURE DISCARDABLE
BEGIN
    IDS_TITLE, "VidCap"
    IDS_COPYRIGHT, "Copyright\251 1990-1993 Microsoft Corporation"
    IDS_VERSION, "1.1"
    IDS_EXPIRED, "Your Final Beta copy of Microsoft Video for Windows has expired."
    107, "for Microsoft Windows 3.1"
END

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    IDS_APPNAME, "VidCap"
END

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    IDS_UNTITLED, "(Untitled)"
END

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    IDS_APPNAME2, "VidCap"
    IDS_PALEXT, "pal"
    IDS_ERR_NOMEM, "Out of memory"
    IDS_OVERWRITE, "File '%s' exists -- overwrite it?"
    IDS_ERR_OPENPAL, "Error opening palette '%s'"
    IDS_ERR_SAVEPAL, "Error saving palette '%s'"
    IDS_ERR_SAVEFRAME, "Error saving frame '%s'"
    IDS_LOADPAL_TITLE, "Load Palette"
    IDS_SAVEPAL_TITLE, "Save Palette"
END

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    IDS_SAVEFRAME_TITLE, "Save Single Frame"
    IDS_AVIEXT, "avi"
    IDS_SETCAPFILE_TITLE, "Set Capture File"
    IDS_ABOUT, "About VidCap"
    IDS_SAVEAS_TITLE, "Save Captured Video As"
    IDS_ERR_CANTOPEN, "Cannot open '%s'"
    IDS_CONFIRMFRAMES, "Select Capture to capture an image to %s."
    IDS_CONFIRMVIDEO, "Select OK to start capture\nof video sequence\nto %s."
    IDS_CLOSEFRAMES, "C&lose"
END

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    IDS_HITESCAPE, "Hit ESCAPE or click to end capture"
    IDS_OVERWRITECAPFILE, "You are about to overwrite the capture file."
    IDS_CLOSE, "&Close"
    IDS_ERR_VIDEDIT, "An error occurred while trying to run VidEdit."
    IDS_ERR_READONLY, "The capture file '%s' is a read-only file."
    IDS_ERR_DISKFULL, "Unable to write to file '%s'.\nDisk may be full."
    IDS_ERR_NOSPACE, "There is no space to create a capture file on the specified device."
    IDS_SETFILESIZE_TITLE, "Set File Size"
    IDS_SAVEAS_PROGRESS, "SaveAs: %2ld%%  Hit Escape to abort."
    IDS_SAVEAS_WAIT, "SaveAs: Please wait..."
END

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    IDM_EXIT, "Quit VidCap"
    IDM_LOADPALETTE, "Load a previously saved palette for use in capture"
    IDM_SETCAPFILE, "Select or create a file to capture the video to"
    IDM_EDITCAPTURE, "Start VidEdit to edit the current capture file"
    IDM_SAVEAS, "Save captured video under a new name"
    IDM_SAVEPALETTE, "Save the current palette"
    IDM_SAVEFRAME, "Save a single frame as a bitmap"
END

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    IDM_COPY, "Copy the displayed frame to the clipboard"
    IDM_PASTEPALETTE, "Paste palette from the clipboard"
    IDM_PREFERENCES, "Customize the VidCap window"
END

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    IDM_AUDIOFORMAT, "Set the audio characteristics"
    IDM_VIDEOSOURCE, "Select the video source"
    IDM_VIDEOFORMAT, "Set the image dimensions and format"
    IDM_VIDEODISPLAY, "Select image to display on external monitor"
END

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    IDM_PREVIEW, "Toggle preview video"
    IDM_OVERLAY, "Toggle overlay video"
END

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    IDM_CAPSINGLE, "Capture a single frame"
    IDM_CAPFRAMES, "Capture selected frames"
    IDM_CAPVIDEO, "Capture a video sequence"
    IDM_CAPPALETTE, "Capture a palette"
END

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    IDM_HELPCONTENTS, "Display Help Index"
    581, "Get help on keywords"
    582, "Get help on commands"
    583, "Get help on procedures"
    584, "Get help on using help"
    IDM_ABOUT, "Displays program information"
END

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    IDS_ERR_NOHARDWARE, "Error: Cannot detect capture hardware."
END

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    IDS_ERR_WAVEOPEN, "Error: Cannot open the wave input device.\nCheck sample size, frequency, and channels."
    IDS_ERR_WAVEMEM, "Error: Out of memory for wave buffers."
    IDS_ERR_WAVEPREPARE, "Error: Cannot prepare wave buffers."
    IDS_ERR_WAVEADD, "Error: Cannot add wave buffers."
    IDS_ERR_WAVESIZE, "Error: Bad wave size."
    IDS_ERR_VIDEOOPEN, "Error: Cannot open the video input device."
    IDS_ERR_VIDEOMEM, "Error: Out of memory for video buffers."
    IDS_ERR_VIDEOPREPARE, "Error: Cannot prepare video buffers."
    IDS_ERR_VIDEOADD, "Error: Cannot add video buffers."
END

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    IDS_ERR_VIDEOSIZE, "Error: Bad video size."
    IDS_ERR_FILEOPEN, "Error: Cannot open capture file."
    IDS_ERR_FILEWRITE, "Error: Cannot write to capture file.  Disk may be full."
END

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    IDS_ERR_DATARATE, "Error: Cannot write to capture file.  Data rate too high or disk full."
    IDS_ERR_RECORDING, "Error while recording"
    IDS_ERR_INIT, "Error: Unable to initialize for capture."
    IDS_WARN_NOFRAMES, "Warning: No frames captured.\nConfirm that vertical sync interrupts\nare configured and enabled."
    IDS_WARN_DEFAULTPAL, "Warning: Using default palette."
END

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    IDS_ERR_MCI, "Error: Unable to access MCI device."
    IDS_ERR_MCISTEP, "Error: Unable to step MCI device."
    IDS_ERR_NOAUDIO, "Error: No audio data captured.\nCheck audio card settings."
    IDS_ERR_COMPRESSOR, "Error: Unable to initialize compressor (check format)."
    IDS_ERR_AUDIOLOST, "Error: Audio data was lost during capture, reduce capture rate."
    IDS_LIVEWINDOW, "Live window"
    IDS_OVERLAYWINDOW, "Overlay window"
END

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    IDS_STATUS_SETUP, "Setting up for capture - Please wait"
    IDS_STATUS_FINISHED, "Finished capture, writing frame %ld"
    IDS_BUILDPALMAP, "Building palette map"
    IDS_OPTIMALPAL, "Computing optimal palette"
    IDS_NFRAMES, "%d frames"
    IDS_STATUS_LNFRAMES, "%ld frames"
    IDS_STATUS_CAPTURED, "Captured %ld frames"
    IDS_STATUS_AUDIO, "Capturing audio"
    IDS_STATUS_CAPTURING, "Captured %ld frames (%ld dropped) %d.%03d sec. Hit ESCAPE to end capture"
    IDS_STATUS_RESULTAUDIO, "Captured %d.%03d sec.  %ld frames (%ld dropped) (%d.%03d fps).  %ld audio bytes (%d,%03d sps)"
    IDS_STATUS_RESULT, "Captured %d.%03d sec.  %ld frames (%ld dropped) (%d.%03d fps)"
    IDS_DROPPED, "Dropped %ld of %ld frames (%d.%02d%%) during capture."
END

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    IDS_START, "&Start"
    IDS_STOP, "&Stop"
END

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    IDS_TB_SETFILE, "Set the capture file"
    IDS_TB_SINGLE, "Capture a single frame"
    IDS_TB_FRAMES, "Capture selected frames"
    IDS_TB_VIDEO, "Capture a video sequence"
    IDS_TB_PALETTE, "Capture a palette"
    IDS_TB_PREVIEW, "Toggle preview video"
    IDS_TB_EDIT, "Edit the captured video file"
    IDS_TB_OVERLAY, "Toggle overlay video"
END

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    IDS_HELP_FILEMENU, "Set capture file, save files or exit application"
    IDS_HELP_FILEMENU + 1, "Copy to clipboard or paste palette"
    IDS_HELP_FILEMENU + 2, "Setup audio and video for capture"
    IDS_HELP_FILEMENU + 3, "Capture frames, palette or video sequence"
    IDS_HELP_FILEMENU + 4, "Get help"
END

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    IDS_HELP_SYSMENU, "Move, size, or close the application window"
END

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    SC_SIZE, "Change the window size"
END

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    SC_MOVE, "Move the window"
END

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    SC_MINIMIZE, "Reduce the window to an icon"
END

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    SC_MAXIMIZE, "Enlarge the window to full size"
END

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    SC_CLOSE, "Exit VidCap"
END

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    SC_RESTORE, "Restore window to previous size"
END

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    SC_TASKLIST, "Switch to a new task"
END

DLGINCLUDE RCDATA LOADONCALL MOVEABLE PURE DISCARDABLE "res/rcdata_dlginclude.bin"
IDR_FILTER_AVI2 RCDATA LOADONCALL MOVEABLE PURE "res/rcdata_303.bin"
IDR_FILTER_AVI RCDATA LOADONCALL MOVEABLE PURE "res/rcdata_301.bin"
IDR_FILTER_DIB RCDATA LOADONCALL MOVEABLE PURE "res/rcdata_302.bin"
IDR_FILTER_PAL RCDATA LOADONCALL MOVEABLE PURE "res/rcdata_304.bin"
IDB_INTRO DIB PRELOAD MOVEABLE PURE DISCARDABLE "res/dib_402.bin"

VS_VERSION_INFO VERSIONINFO LOADONCALL MOVEABLE PURE
FILEVERSION     1,10,0,176
PRODUCTVERSION  1,10,0,176
FILEFLAGSMASK   0x0030003FL
FILEFLAGS       0x0L
FILEOS          0x00010001L
FILETYPE        0x1L
FILESUBTYPE     0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "Microsoft Corporation\000"
            VALUE "FileDescription", "Video Capture tool\000"
            VALUE "FileVersion", "1.1\000"
            VALUE "InternalName", "vidcap.exe\000"
            VALUE "LegalCopyright", "Copyright \251 Microsoft Corp. 1992-1993\000"
            VALUE "OriginalFilename", "vidcap.exe\000"
            VALUE "ProductName", "Microsoft Video for Windows\000"
            VALUE "ProductVersion", "1.1\000"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04E4
    END
END
